<nav class="row">
    <!-- Navigation -->
    <div class="col-6">
        <a href="/user/list" sec:authorize="hasRole('ROLE_ADMIN')">User management</a> |
        <a href="/bidList/list">Bid List</a>&nbsp;|&nbsp;
        <a href="/curvePoint/list">Curve Points</a>&nbsp;|&nbsp;
        <a href="/rating/list">Ratings</a>&nbsp;|&nbsp;
        <a href="/trade/list">Trade</a>&nbsp;|&nbsp;
        <a href="/ruleName/list">Rule</a>
    </div>

    <!-- User Info -->
    <div class="col-6 text-right">
        <div style="display: inline-block; margin-right: 1rem">
            Logged in user: <b sec:authentication="name" class="user">logged user</b>,
            Roles: <b sec:authentication="principal.authorities[0]">[ADMIN, USER]</b>
        </div>
        <a href="/">Home</a>
        <span>|</span>
        <form th:action="@{/app/logout}" method="post" style="display: inline-flex">
            <button class="btn btn-link" style="padding: 0">Logout</button>
        </form>
    </div>
</nav>