<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<main class="container mt-5">

	<!-- Nav -->
	<nav th:replace="~{fragments/nav.html}"></nav>

	<!-- Page Title -->
	<section class="row mt-3"><h2>Trade List</h2></section>

	<!-- Alerts -->
	<section th:replace="~{/fragments/alerts}"></section>

	<!-- Content -->
	<section class="row mt-3">
		<a href="/trade/add" class="btn btn-primary btn-sm">Add New</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Account</th>
					<th>Type</th>
					<th>Buy Quantity</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="trade : ${trades}">
					<td style="width: 10%" th:text="${trade.id}"></td>
					<td th:text="${trade.account}"></td>
					<td th:text="${trade.type}"></td>
					<td th:text="${trade.buyQuantity}"></td>
					<td style="width: 15%" class="text-center">
						<a th:href="@{/trade/update/{id}(id=${trade.id})}">Edit</a>&nbsp;|&nbsp;
						<a th:href="@{/trade/delete/{id}(id=${trade.id})}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</section>
</main>
</body>
</html>